/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles*/

/* ====== TODO =======
	Border spacing
	Pick text for h1, h2, p
	Spacing between h1, p
	Spacing between p, p
	Spacing between h2, h2?
	Footer stoof
	*/

html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 1.25em; /* 20 / 16 = 1.25em */
	line-height: 1.4em; /* 28 / 20 = 1.4em */
	padding: 1.4em 1.4em;
	background-color: whitesmoke;
}

h1 {
	padding: 0.35em 0;
	font-family: avantgarde;
	font-size: 2.2em; /* 44 / 20 = 2.2em */
	line-height: 1.2em;
	text-align: center;
}

h2 {
	padding: 0.325em 0;
	text-align: center;
	font-family: avantgarde;
	font-size: 1.5em; /* 30 / 20 = 1.5em */
	line-height: 1.2em;
	background-color: #811;
	color: white;
}

p {
	font-family: timesnewroman;
	padding-bottom: 1.4em;
}

footer {
	text-align: center;
	font-size: .8em;
	margin-top: 2.8em;
	border-top: 1px solid;
}

h2 + p {
	padding-top: 1.4em;
}

nav {
	background: #811;
}

nav.menu ul {
	list-style: none;
	text-align: center;
}

nav.menu li {
	font-size: 1.3em;  /* 26 / 20 = 1.3em */
	line-height: 1.09623em; /* 28 / 26 = 1.09623em */
}

nav.menu a {
	text-decoration: none;
	color: white;
}

nav.menu a:hover {
	background-color: #b11;
	transition: .5s background-color;
}
